<!DOCTYPE html>
<html>
<head>
	<title>Ajay Blogs</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="fullpage">
			<div class="container">
		<h3><center>WELCOME TO AJAY BLOGS</center></h3>
		<h1><center>ABOUT THE DEVELOPER</center></h1>
	</div>
		<div class="img">
			<center><img src="media/pic10.png" alt="sample"></center>
		</div>
	<div class="container">
		<p>
			Hello, I am Ajay Anand student of Sri Krishna Institute of Technology Bengaluru. I am currently enrolled in Bachelors degree in Computer Science stream. I did my schooling from Gujarat till 10th, then i moved to Kota(Rajasthan) for my 12th. I have done various projects in different different fields including the one you are seeing right now.. Some of my other project domains are on Python(Django), Java, C++, JavaScript(along with HTML, CSS).<br>
			Earlier i did qualified for NTSE exam when i was in 9th standard, also i had participated in many state level competitions of UCMAS(Mental Arithmetics).. I am self motivated person with good technical skills..<br>
			I love to take part in Coding contests and hackathons.
		</p>
	</div>
	</div>


</body>
</html>