<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AJAY BLOGS</title>
</head>
<body>
     <h1> AJAY ANAND</h1>
     <h3> THANK YOU FOR VISITING MY SITE</h3>
     <h4>ABOUT THE SITE OWNER</h4>
     <div class="row">
                <div class="col s12 m4">
                    <img src="/media/pic10.png"  class="center" style="max-height:600px;"  alt="">
                </div>
            </div>
      <p>
        Hi, I am Ajay Anand(developer), i am an undergraduate student of SKIT, Bengaluru.
        This project(or this site) is built on the fundamentals of Django Framework, and i
        hope you might like this.
      </p>
     <p> The main motto to make this Site is to share my thougths on different domains in which
     i am interested and in which i have some experience.. </p>
     <p>
  This is one of my hosted projects, other than this i have done other projects too, majorly based on Java and C++.
  Also did an Android Project on Quiz Application.
</p>
<p>
  Along with this, i have taken reference from Materialize CSS, some sample codes from github for Admin Panel and some from Stack Overflow
</p>
<p>
    Here is my RESUME
</p>
<div class="row">
                <div class="col s12 m4">
                    <img src="/media/pic9.png" class="responsive-img" alt="">
                </div>
            </div>

</body>
</html>